<footer class="footer bg-dark text-center text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <p class="m-0">&copy; 2024 MATS. All Rights Reserved.</p>
    <p class="m-0">Made With &hearts; By In-Source Solutions</p>
    <span>
      <button mat-mini-fab class="background-clr text-white" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    </span>
  </div>
</footer>

<!-- <div class="d-flex align-items-center justify-content-between w-100 background-clr footer">
        <div class="text-white f-s-16 l-s-2">
            Copyright © 2024 MATS TOWING & TRANSPORT
        </div>
        <div class="text-white f-s-16 l-s-2">
            Made By In-Source Solutions
        </div>
    </div> -->