
<ng-container>
    <div class="container-fuild bg-white shadow-sm sticky-top">
        <div class="row w-100 d-flex align-items-center pt-2 pb-2">
            <div class="col-md-3 text-center">
                <img src="../../assets/logo.png" alt="MATS" width="155px" height="55px">
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white">
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0">Open Time</p>
                        <p class="m-0 p-0">Mon-Sun | 24 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call Now" matTooltipPosition="above">
                        <mat-icon>phone</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0">Emergency Call</p>
                        <p class="m-0 p-0">+92 324 2887495</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call On Whatapp" matTooltipPosition="above">
                        <mat-icon>wifi_calling_3</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0">Whatapp's Call</p>
                        <p class="m-0 p-0">+92 324 2887495</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="w-100">
        <img src="../../assets/img1.jpeg" width="100%">
    </div>
</ng-container>

<ng-container>
    <div class="container text-center mt-4 mb-4">
        <p class="txt-clr heading"> ROADSIDE ASSISTANCE, <br> WHEN YOU NEED IT THE MOST THE HIGHEST QUALITY <br> TOWING SERVICES</p>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-2">
        <div class="">
                <p class="m-0 heading txt-clr">WHAT WE OFFER</p>
                <mat-progress-bar class="w-20" mode="buffer" color="txt-clr"></mat-progress-bar>
        </div>
        <div class="mt-3">
            <p class="f-s-18">EFFECTIVE FLATBED TRANSPORTATION</p>
            <p class="f-s-16">We provide fast, courteous and inexpensive towing services in Pakistan. We are ready to respond to all your vehicle emergency needs 24 hours a day, seven days a week.</p>
            <div class="d-flex align-items-center" *ngFor="let offer of offersData">
                <mat-icon class="txt-clr mx-3">{{offer.icon}}</mat-icon>
                <span class="f-s-16">{{offer.desc}}</span>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container d-flex justify-content-center mt-5">
        <div class="">
            <p class="txt-clr heading">ABOUT US</p>
            <mat-progress-bar class="w-15" mode="buffer" color="txt-clr"></mat-progress-bar>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container d-flex justify-content-center mt-5">
        <div class="">
            <p class="txt-clr heading">OUR SERVICE'S</p>
            <mat-progress-bar class="w-18" mode="buffer" color="txt-clr"></mat-progress-bar>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container-fuild">
        <div class="d-flex justify-content-center">
            <div class="">
                <p class="txt-clr heading">CONTACT US / LOCATION</p>
                <mat-progress-bar class="w-20" mode="buffer" color="txt-clr"></mat-progress-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                              
            </div>
        </div>
    </div>
</ng-container>
  