<ng-container>
    <div class="container-fuild bg-white shadow-sm sticky-top">
        <div class="row w-100 d-flex align-items-center pt-2 pb-2">
            <div class="col-md-3 text-center">
                <img src="../../assets/logo.png" alt="MATS" width="155px" height="55px" />
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white">
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Open Time</p>
                        <p class="m-0 p-0">24 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call Us Now"
                        matTooltipPosition="above" (click)="openWhatsapp(923242887495)">
                        <mat-icon>phone</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Call Us Now</p>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324
                            2887495 |
                        </span>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315
                            8559450</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call On Whatsapp"
                        matTooltipPosition="above" (click)="openWhatsapp(923158559450)">
                        <mat-icon>wifi_calling_3</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Whatsapp's Call</p>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324
                            2887495 |
                        </span>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315
                            8559450</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="w-100">
        <img src="../../assets/Home-Bannar.jpg" width="100%" />
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <div class="">
            <p class="txt-clr heading mb-0">Our Service's</p>
        </div>
        <div class="services-section row mt-3">
            <div class="mt-2 col-md-4" *ngFor="let _service of serviceData" [class.flipped]="_service.isFlipped">
                <mat-card class="pointer mat-card shadow service-card">
                    <div [ngClass]="_service.isFlipped ? 'mat-card-back' : 'mat-card-front'">
                        <div class="w-100 px-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mb-1 service-card-heading">{{ _service.isFlipped ? _service.subTitle : _service.title }}</p>
                                <mat-icon (click)="flipCard(_service)" [matTooltip]="_service.toolTip"
                                    class="txt-red f-s-20 f-w-b">flip_camera_android</mat-icon>
                            </div>
                            <p class="mb-1 f-s-11">{{ _service.isFlipped ? _service.desc : _service.infoText }}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <p class="txt-clr heading"> Our Customer's </p>
        <div class="row mt-3">
            <div class="col-md-2 mt-1" *ngFor="let item of customerImgLst">
                <img [src]="item.src" width="100%" class="shadow-sm">
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5">
        <p class="txt-clr heading mb-0">ABOUT US</p>
        <div class="pt-3">
            <p class="">
                Mats Towing &amp; Transport is one the leading international Transport, relocation and logistics
                management company delivering cost-saving solutions Around the World.<br><br>

                Mats evolve comprehensive Transport, logistics and relocation service plans tailored to meet exact
                requirements of customers. This is expert by learning customers’ exact objectives with regards to their
                internal and external needs, thus make sure that Mats will provide comprehensive services more
                consistently than any other service provider in the market.<br><br>

                Our well proven multimodal transportation System to the Entire World ensures international reach
                whatever your cargo and time-frame is. As the preferred Logistics Partner for various companies and the
                first point of contact to increase supply chain productivity in the Global Market, we are very proud for
                our reputation and always struggle to maintain it.<br><br>

                We treat clients as our highest priority. Our services and solutions are driven for their ultimate
                benefit. Delivering meaningful, measurable added-value to our customers is an integral part of our
                culture. With our innovative solutions, we can help you to plan for business strategies, improve
                customer service, accelerate order cycle times, and tightened control of the supply chain.<br><br>

                For Further detail Please Do contact With Us <span class="txt-clr">MATSOFFICAL9&#64;GMAIL.COM</span>
            </p>
        </div>

        <div class="pt-3">
            <mat-stepper class="bg-white overwrite-stepper">
                <mat-step label="OUR LEADERSHIP" state="chat" class="stepLabel">
                    <p class="">Underpin by our own offices and associates worldwide, Costa Logistics employs a team of
                        professionals that follow up and follows through on each and every business we manage. With our
                        Worldwide Service Network across 65 countries, we focus to be the most reliable Freight
                        Forwarding, Removals and Relocation and Logistics Company in the market with an wonderful,
                        people-driven and committed approach to serving our valued customers.<br>
                        While we are skilled in offering worldwide moving, freight forwarding, logistics related
                        services, we are not to be satisfied with only that: we also undertake to be committed advisors
                        to our valued customers at all times.
                    </p>
                </mat-step>
                <mat-step label="PROJECT HANDLING" state="chat" class="stepLabel">
                    <p class="">Underpin by our own offices and associates worldwide, Costa Logistics employs a team of
                        professionals that follow up and follows through on each and every business we manage. With our
                        Worldwide Service Network across 65 countries, we focus to be the most reliable Freight
                        Forwarding, Removals and Relocation and Logistics Company in the market with an wonderful,
                        people-driven and committed approach to serving our valued customers.<br>
                        While we are skilled in offering worldwide moving, freight forwarding, logistics related
                        services, we are not to be satisfied with only that: we also undertake to be committed advisors
                        to our valued customers at all times.
                    </p>
                </mat-step>
                <mat-step label="WHY US ?" state="chat" class="">
                    <p class="">Underpin by our own offices and associates worldwide, Costa Logistics employs a team of
                        professionals that follow up and follows through on each and every business we manage. With our
                        Worldwide Service Network across 65 countries, we focus to be the most reliable Freight
                        Forwarding, Removals and Relocation and Logistics Company in the market with an wonderful,
                        people-driven and committed approach to serving our valued customers.<br>
                        While we are skilled in offering worldwide moving, freight forwarding, logistics related
                        services, we are not to be satisfied with only that: we also undertake to be committed advisors
                        to our valued customers at all times.
                    </p>
                </mat-step>
                <ng-template matStepperIcon="chat">
                    <mat-icon>forum</mat-icon>
                </ng-template>
            </mat-stepper>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-3">
        <div class="">
            <p class="txt-clr heading mb-0">LOCATION</p>
        </div>
        <div class="row mt-3">
            <mat-card class="location shadow p-0">
                <iframe width="100%" height="374px" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            </mat-card>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <p class="heading txt-clr">Contact Us</p>
                <p>If you have any questions, feedback, or need assistance, <span class="txt-clr "> MATS Towing & Transport </span> is here to help!
                     Our dedicated team is committed to providing you with prompt and friendly support. Whether you’re seeking information about our services,
                      need technical assistance, or want to share your thoughts, we encourage you to reach out. You can contact us via email, phone, or our online contact form,
                       and we’ll do our best to respond as quickly as possible. Your satisfaction is our priority, and we value your input.
                     Thank you for choosing <span class="txt-clr "> MATS Towing & Transport </span> we look forward to connecting with you soon!</p>
            </div>
            <div class="col-md-5">
                <mat-card class="p-4 shadow contact">
                    <form class="w-100">
                        <mat-form-field class="w-100 form-input">
                            <mat-label class="txt-black">Name</mat-label>
                            <input matInput placeholder="Write Your Name..." class="text-white"
                                [(ngModel)]="userModel.name" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <mat-form-field class="w-100 form-input">
                            <mat-label class="txt-black">Email</mat-label>
                            <input matInput placeholder="Write Your Email..." class="text-white"
                                [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}"
                                (change)="onEmailChange()">
                            <span class="text-danger f-s-12" *ngIf="userModel.isError">Please enter a valid email
                                address</span>
                        </mat-form-field>

                        <mat-form-field class="w-100 form-input">
                            <mat-label class="txt-black">Phone</mat-label>
                            <input matInput placeholder="Write Your Phone..." [(ngModel)]="userModel.phone"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <mat-form-field class="w-100 form-input">
                            <mat-label class="txt-black">Message</mat-label>
                            <textarea matInput placeholder="Message....." [(ngModel)]="userModel.message"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>

                        <div class="d-flex justify-content-center">
                            <button mat-raised-button class="contact-btn">SEND</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <p class="heading txt-clr">Frequently Asked Question (FAQ's)</p>
                <p>Have questions about our services? We’ve compiled a list of common inquiries to help you find the
                    information you need quickly. If you don’t see your question here, feel free to reach out to our
                    customer support team for further assistance!</p>
            </div>
            <div class="col-md-5">
                <mat-accordion class="panel">
                    <ng-container *ngFor="let item of faqData">
                        <mat-expansion-panel class="mb-2 p-1" (opened)="item.isPanelOpen = true"
                            (closed)="item.isPanelOpen = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="text-dark">
                                    {{ item.ques }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p class="text-dark">{{ item.ans }}</p>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <mats-footer></mats-footer>
</ng-container>