
::ng-deep .form-input{
    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
        background-color: none !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background: none !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
        color: black !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
        border-bottom-color: black;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
        border-bottom-color: #f47820;
    }
}

.sticky {
    position: sticky !important;
    top: 0 !important; 
    z-index: 1000 !important;
  }         

.contact-btn{
    border: 1px solid #f47820 !important;
    color: #f47820 !important;
    letter-spacing: 2px !important;
    background-color: white !important;
    font-weight: 600 !important;
    border-radius: 20px;
}

.contact-btn:hover{
    transition: 0.2s;
    color: white !important;
    letter-spacing: 2px !important;
    background-color: #f47820 !important;
    font-weight: 600 !important;
    border: none !important;
}

.location{
    width: 100%;
    height: 250px;
}

::ng-deep .overwrite-stepper{
    .mat-step-text-label {
        color: black !important;
    }
    .mat-stepper-horizontal-line{
        border-top-color: black !important;
    }
    .mat-step-icon.mat-step-icon-state-done{
        background-color: #f47820 !important;
    }
    .mat-step-icon.mat-step-icon-state-chat.mat-step-icon-selected{
        background-color: #f47820 !important;
    }
    .mat-step-icon.mat-step-icon-state-edit.mat-step-icon-selected{
        background-color: #f47820 !important;
    }
}

.service-card{
    background-color: white !important;
    padding: 10px;
    border: #f47820 solid 1px;
}

.service-card-img{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.service-card-heading{
    font-size: 15px !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    color: #f47820 !important;
}

.service-card-more{
    color: rgb(172, 23, 23) !important;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
}

.service-card-more:hover{
    color: rgb(172, 23, 23) !important;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 5px;
    transition: 2s ease;
}

::ng-deep.panel {
    .mat-expansion-panel{
        background: white !important;
        color: black !important;
        border-radius: 8px;
        border-top: #f47820 solid 4px;
    }   
    .mat-expansion-indicator::after{
        color: black !important;
    }
}

.container .services-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flipped .mat-card {
    transform: rotateY(180deg);
}

.mat-card-front, .mat-card-back {
    backface-visibility: hidden;
    box-sizing: border-box;
    text-align: center;
}

.mat-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.mat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.mat-card .mat-card-back {
    transform: rotateY(180deg);
}

.services-section .mat-card .icon {
    width: 100px;
    height: 100px;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 80px;
    border-radius: 50%;
    margin: -75px auto 0;
    transition: transform 1s;
}

.services-section .mat-card .icon-m {
    width: 80px;
    height: 80px;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 80px;
    border-radius: 50%;
    margin: -55px auto 0;
    transition: transform 1s;
}

.mat-card:hover .img {
    transform: rotate(360deg);
}

.services-section .mat-card .img {
    width: 50px;
    height: 50px;
    transition: transform 1s;
    animation: rotateImage 2s linear infinite;
}
.mat-card:hover .img-m {
    transform: rotate(360deg);
}

.services-section .mat-card .img-m {
    width: 35px;
    height: 35px;
    transition: transform 1s;
    animation: rotateImage 2s linear infinite;
}

 .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: rgb(27, 27, 27) !important;

    div{
        color: #f47820 !important;
    }

    button{
        color: #f47820 !important;
    }
  }