<ng-container>
    <div class="container-fuild bg-white shadow-sm sticky">
        <div class="row w-100 d-flex align-items-center pt-2 pb-2" *ngIf="!isMobile">
            <div class="col-md-3 text-center">
                <img src="../../assets/logo.png" alt="MATS" width="155px" height="55px" />
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white">
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Open Time</p>
                        <p class="m-0 p-0">24 Hours</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call Us Now"
                        matTooltipPosition="above" (click)="openWhatsapp(923242887495)">
                        <mat-icon>phone</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Call Us Now</p>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324
                            2887495 |
                        </span>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315
                            8559450</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" matTooltip="Call On Whatsapp"
                        matTooltipPosition="above" (click)="openWhatsapp(923158559450)">
                        <mat-icon>wifi_calling_3</mat-icon>
                    </button>
                    <div class="mx-2">
                        <p class="m-0 p-0 f-w-600 txt-clr l-s-2">Whatsapp Call</p>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324
                            2887495 |
                        </span>
                        <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315
                            8559450</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100 d-flex align-items-center pt-2 pb-2" *ngIf="isMobile">
            <div class="col-6 text-start">
                <img src="../../assets/logo.png" alt="MATS" width="155px" height="55px" />
            </div>
            <div class="col-2">
                <button mat-mini-fab [matMenuTriggerFor]="menu" class="background-clr text-white">
                    <mat-icon>schedule</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="after">
                    <button mat-menu-item> 
                        <p> Open Time </p>
                        <p class="mb-0"> 24 Hours </p>
                    </button>
                  </mat-menu>
            </div>
            <div class="col-2">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" [matMenuTriggerFor]="menu1" matTooltip="Call Us Now">
                        <mat-icon>phone</mat-icon>
                    </button>
                    <mat-menu #menu1="matMenu" xPosition="after">
                        <button mat-menu-item>
                            <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315 8559450</span>
                        </button>
                        <button mat-menu-item>
                            <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324 2887495</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="col-2">
                <div class="d-flex align-items-center">
                    <button mat-mini-fab class="background-clr text-white" [matMenuTriggerFor]="menu2" matTooltip="Call On Whatsapp">
                        <mat-icon>wifi_calling_3</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu" xPosition="after">
                        <button mat-menu-item>
                            <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923242887495)">+92 324 2887495</span>
                        </button>
                        <button mat-menu-item>
                            <span class="pointer" matTooltip="Open Whatsapp" (click)="openWhatsapp(923158559450)">+92 315 8559450</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="w-100">
        <video height="400%" width="100%" autoplay loop muted>
            <source src="../../assets/map Animation.mp4">
          </video>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <div class="">
            <p class="txt-clr heading mb-0">Services</p>
        </div>
        <div class="services-section row mt-4" >
            <div class="mt-2 col-md-4" *ngFor="let _service of serviceData" [class.mb-5]="isMobile" [class.flipped]="_service.isFlipped">
                <mat-card class="pointer mat-card shadow service-card"  (click)="flipCard(_service)" [matTooltip]="!_service.isFlipped ? _service.toolTip : ''">
                    <div class="icon" [ngClass]="isMobile ? 'icon-m' : 'icon' ">
                        <img [src]="_service.imgSrc" [ngClass]="isMobile ? 'img-m' : 'img' " >
                    </div>
                    <div [ngClass]="_service.isFlipped ? 'mat-card-back' : 'mat-card-front'">
                                <p class="mb-1 service-card-heading">{{ _service.isFlipped ? _service.subTitle : _service.title }}</p>
                            <p class="m-3 f-s-12">{{ _service.isFlipped ? _service.desc : _service.infoText }}</p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <p class="txt-clr heading">Customers </p>
        <div class="row mt-3">
            <div class="col-md-2 mt-1" *ngFor="let item of customerImgLst">
                <img [src]="item.src" width="100%" class="shadow-sm">
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5">
        <p class="txt-clr heading mb-0">ABOUT US</p>
        <div class="pt-3">
            <p class="">
                <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> is one the leading international Transport, relocation and logistics
                management company delivering cost-saving solutions Around the World.<br><br>

                Mats evolve comprehensive Transport, logistics and relocation service plans tailored to meet exact
                requirements of customers. This is expert by learning customers’ exact objectives with regards to their
                internal and external needs, thus make sure that Mats will provide comprehensive services more
                consistently than any other service provider in the market.<br><br>

                Our well proven multimodal transportation System to the Entire World ensures international reach
                whatever your cargo and time-frame is. As the preferred Logistics Partner for various companies and the
                first point of contact to increase supply chain productivity in the Global Market, we are very proud for
                our reputation and always struggle to maintain it.<br><br>

                We treat clients as our highest priority. Our services and solutions are driven for their ultimate
                benefit. Delivering meaningful, measurable added-value to our customers is an integral part of our
                culture. With our innovative solutions, we can help you to plan for business strategies, improve
                customer service, accelerate order cycle times, and tightened control of the supply chain.<br><br>

                For Further detail Please Do contact With Us <span class="txt-clr f-w-600">MATSOFFICAL9&#64;GMAIL.COM</span>
            </p>
        </div>

        <div class="pt-3">
            <mat-stepper class="bg-white overwrite-stepper">
                <mat-step label="OUR LEADERSHIP" state="chat" class="stepLabel">
                    <p class=""><span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> is a leading provider of reliable and professional towing and transportation services.
                          With years of experience in the industry, we specialize in offering prompt, efficient, and safe solutions for vehicles of 
                          all sizes, whether it's a car, truck, or specialized equipment. Our team of skilled and courteous drivers ensures that every  
                          job is completed with the highest level of care, making customer satisfaction our top priority. <br><br>
                          We understand the importance of timely service and are available 24/7 to assist with any emergency or scheduled transport 
                          needs. At <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span>, we take pride in our commitment to excellence, reliability, and the ability to handle any 
                          towing challenge with precision and professionalism. Trust us to be your go-to solution for all your towing and transport 
                          requirements.
                    </p>
                </mat-step>
                <mat-step label="PROJECT HANDLING" state="chat" class="stepLabel">
                    <p class=""><span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> is a trusted leader in project handling, offering expert services for large-scale 
                        transportation and logistics projects. We specialize in managing complex, oversized, and high-value equipment moves with 
                        precision and efficiency. Our team is highly skilled in coordinating all aspects of project handling, from initial planning 
                        to execution, ensuring smooth and timely deliveries. Whether it’s machinery, construction materials, or sensitive cargo, Mats Towing & Transport 
                        is equipped with the latest tools and technology to handle diverse project needs. <br><br> We collaborate closely with clients to create tailored solutions 
                        that meet specific project requirements, all while prioritizing safety and compliance with industry standards. With our extensive experience and 
                        commitment to excellence, <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> is the ideal partner for your next major project, ensuring reliable,
                        hassle-free transport every time.
                    </p>
                </mat-step>
                <mat-step label="WHY US ?" state="chat" class="">
                    <p class="">
                        At <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span>, we stand out for our commitment to excellence, reliability, and customer satisfaction. 
                        With years of experience in the towing and transport industry, we offer expert services for a wide range of needs, 
                        from emergency towing to project handling and large equipment transport. Our team of highly skilled professionals is 
                        dedicated to providing fast, safe, and efficient solutions, ensuring every job is done right the first time. <br><br> We use 
                        state-of-the-art equipment to guarantee secure and reliable transportation. Available 24/7, we prioritize your peace of mind by offering flexible, 
                        tailored services that meet your unique requirements. Choose <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> for dependable service, every time.
                    </p>
                </mat-step>
                <ng-template matStepperIcon="chat">
                    <mat-icon>forum</mat-icon>
                </ng-template>
            </mat-stepper>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-3">
        <div class="">
            <p class="txt-clr heading mb-0">LOCATION</p>
        </div>
        <div class="row mt-3">
            <mat-card class="location shadow p-0">
                <iframe width="100%" height="374px" [src]="iframeSrc" frameborder="0" allowfullscreen></iframe>
            </mat-card>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 b-r-5">
        <div class="row d-flex align-items-center shadow">
            <div class="col-md-6 p-5">
                <p class="heading txt-clr">Contact Us</p>
                <p>If you have any questions, feedback, or need assistance, <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> is here to help!
                     Our dedicated team is committed to providing you with prompt and friendly support. Whether you’re seeking information about our services,
                      need technical assistance, or want to share your thoughts, we encourage you to reach out. You can contact us via email, phone, or our online contact form,
                       and we’ll do our best to respond as quickly as possible. Your satisfaction is our priority, and we value your input.
                     Thank you for choosing <span class="txt-clr f-w-600"> Mats Towing &amp; Transport </span> we look forward to connecting with you soon!</p>
            </div>
            <div class="col-md-6 p-5" [class.pt-0]="isMobile">
                <form class="w-100">  
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w-100 form-input">
                                <mat-label class="txt-black">Name</mat-label>
                                <input matInput placeholder="Write Your Name..." class="text-white"
                                    [(ngModel)]="userModel.name" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100 form-input">
                                <mat-label class="txt-black">Email</mat-label>
                                <input matInput placeholder="Write Your Email..." class="text-white"
                                    [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}"
                                    (change)="onEmailChange()">
                                <span class="text-danger f-s-12" *ngIf="userModel.isError">Please enter a valid email
                                    address</span>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100 form-input">
                                <mat-label class="txt-black">Phone</mat-label>
                                <input matInput placeholder="Write Your Phone..." [(ngModel)]="userModel.phoneNumber"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100 form-input">
                                <mat-label class="txt-black">Message</mat-label>
                                <input matInput placeholder="Message....." [(ngModel)]="userModel.text"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>        
                        </div>
                        <div class="col-md-12 d-flex justify-content-center mt-4">
                            <button *ngIf="!isLoading" mat-raised-button class="contact-btn" (click)="sendData()">SEND</button>
                          <div *ngIf="isLoading">
                            <mat-spinner diameter="25"></mat-spinner>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12">
                <p class="heading txt-clr">Frequently Asked Question (FAQs)</p>
                <p>Have questions about our services? We’ve compiled a list of common inquiries to help you find the
                    information you need quickly. If you don’t see your question here, feel free to reach out to our
                    customer support team for further assistance!</p>
            </div>
        </div>
    </div>
</ng-container>

<ng-container>
    <mats-footer></mats-footer>
</ng-container>