
::ng-deep .form-input{
    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
        background-color: none !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background: none !important;
    }
}

.contact{
    background: rgba(0,0,0,0.7) url(../../assets/contact-us.jpeg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 512px;
    overflow: auto;
}

.location{
    background: rgba(0,0,0,0.7) url(../../assets/location.jpeg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 512px;
}

::ng-deep .overwrite-stepper{
    .mat-step-text-label {
        color: black !important;
    }
    .mat-stepper-horizontal-line{
        border-top-color: black !important;
    }
    .mat-step-icon.mat-step-icon-state-done{
        background-color: #f47820 !important;
    }
    .mat-step-icon.mat-step-icon-state-chat.mat-step-icon-selected{
        background-color: #f47820 !important;
    }
    .mat-step-icon.mat-step-icon-state-edit.mat-step-icon-selected{
        background-color: #f47820 !important;
    }
}

.service-card{
    background-color: white !important;
    padding: 10px;
}

.service-card-img{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.service-card-heading{
    font-size: 15px !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
}

.service-card-more{
    color: rgb(172, 23, 23) !important;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
}

.service-card-more:hover{
    color: rgb(172, 23, 23) !important;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 5px;
    transition: 2s ease;
}

::ng-deep.panel {
    .mat-expansion-panel{
        background: white !important;
        color: black !important;
        border-radius: 8px;
        border-top: #f47820 solid 4px;
    }   
    .mat-expansion-indicator::after{
        color: black !important;
    }
}