/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, helvetica neue, helvetica, arial, sans-serif;
}

.txt-clr {
    color: #f47820 !important;
}

.background-clr {
    background-color: #f47820 !important;
}

.border-color {
    border: 2px solid #f47820 !important;
}

.light-border-color {
    border: 2px solid #d3d0d0 !important;
}

.heading {
    font-size: 25px !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    line-height: 30px;
    text-transform: uppercase !important;
}

.pointer {
    cursor: pointer !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-70 {
    width: 70% !important;
}

.w-15 {
    width: 15% !important;
}

.w-18 {
    width: 18% !important;
}

.f-w-b {
    font-weight: bold !important;
}

.f-s-16 {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.f-s-18 {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.f-s-12 {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.f-s-11 {
    font-size: 11px !important;
    font-weight: 500 !important;
}

.txt-red {
    color: rgb(172, 23, 23) !important;
}

.txt-black {
    color: black !important;
}

.l-s-2 {
    letter-spacing: 2px !important;
}

.b-r-5 {
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}