<ng-container *ngIf="_dialogData?.isSuccess; else errorMessage">
  <div class="dialog-container success">
    <p class="m-0 p-0 f-s-18 txt-green d-flex align-items-center">
      <mat-icon class="txt-green m-1">check_circle</mat-icon> Sent Successfully...!
    </p>
  </div>
</ng-container>

<ng-template #errorMessage>
  <div class="dialog-container error">
    <p class="m-0 p-0 f-s-18 txt-red d-flex align-items-center">
      <mat-icon class="txt-red m-1">error</mat-icon>Email Not Sent...!
    </p>
  </div>
</ng-template>
