<ng-container *ngIf="_dialogData?.isSuccess">
    <h2 mat-dialog-title>Success</h2>
    <mat-dialog-content>
        <p>Submit Successfully...!</p>
    </mat-dialog-content>
    <mat-dialog-actions class="w-100 d-flex justify-content-end">
        <button mat-button mat-dialog-close >Ok</button>
    </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="_dialogData?.isError">
    <h2 mat-dialog-title>Error</h2>
    <mat-dialog-content>
        <p>Email Not Sent...!</p>
    </mat-dialog-content>
    <mat-dialog-actions class="w-100 d-flex justify-content-end">
        <button mat-button mat-dialog-close >Ok</button>
    </mat-dialog-actions>
</ng-container>
